body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#galaxy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
}


.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 4px white, 0 0 12px white;
    z-index: 2;
}

/* Estilos base, optimizados para móviles */
.game-blue-button {
    padding: 10px 20px;
    font-size: 16px; /* Tamaño de fuente legible en dispositivos móviles */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    z-index: 10;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.center-button {
    position: absolute;
    top: 50%; /* Centrar en la pantalla para móviles */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar precisamente el botón */
}

.game-blue-button:hover,
.game-blue-button:focus {
    background-color: #0056b3; /* Color más oscuro para el hover/focus */
}

#gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#gameCanvas {
    display: block; /* Eliminar espacio extra debajo del canvas */
    width: 100%;
    height: auto;
    background: #000; /* Fondo por defecto en caso de que el canvas no cargue */
}

/* Media queries para tablets */
@media (min-width: 768px) {
    #startButton {
        font-size: 18px; /* Tamaño de fuente más grande para tablets */
        padding: 15px 30px;
    }
}

/* Media queries para desktops */
@media (min-width: 992px) {
    #startButton {
        font-size: 20px; /* Tamaño de fuente aún más grande para desktop */
        padding: 20px 40px;
    }
}

#scorePanel {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    font-family: 'Press Start 2P', cursive; /* Fuente retro, puede que necesites importarla */
    color: #FFF;
    font-size: 18px;
    z-index: 10;
}

#gameOverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

#gameOverImage {
    z-index: 1; /* Asegúrate de que la imagen tenga un z-index más bajo que el botón */
    max-width: 90%; /* Opcional: para asegurarte de que la imagen se ajuste al contenedor si es muy grande */
    max-height: 90vh; /* Opcional: para asegurarte de que la imagen se ajuste a la altura de la ventana */
}

#restartButton {
    padding: 10px 20px;
    font-size: 16px; /* Tamaño de fuente legible en dispositivos móviles */
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 100%; /* Centrar en la pantalla para móviles */
    left: 45%;
    transform: translate(-50%, -50%); /* Centrar precisamente el botón */
    z-index: 10;
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

#shotsLeft {
    position: absolute; /* Posición absoluta dentro del contenedor del juego */
    top: 10px; /* Espacio desde la parte superior del contenedor */
    left: 10px; /* Espacio desde la parte izquierda del contenedor */
    color: white; /* Color del texto, elige uno que contraste con tu fondo */
    font-family: Arial, sans-serif; /* Fuente del texto */
    font-size: 18px; /* Tamaño del texto */
    z-index: 10; /* Asegura que se muestre sobre otros elementos si es necesario */
    font-family: 'Press Start 2P', cursive; /* Fuente retro, puede que necesites importarla */
}

.flash {
    animation: flashAnimation 0.5s;
}

@keyframes flashAnimation {
    50% {
        color: yellow;
    }
    /* o cualquier otro efecto visual deseado */
}

/* Estilos para el popup de cookies */
.cookie-consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-family: Arial, sans-serif; /* Fuente más moderna */
}

/* Estilo para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif; /* Fuente más moderna */
}

.modal-content h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-content p {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos adicionales para el texto legal */
.legal-text {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.legal-text h2 {
    color: #444;
    font-size: 20px;
    margin-bottom: 15px;
}

.legal-text ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
}

.legal-text li {
    margin-bottom: 10px;
}
